<%- include('./partials/header.ejs') %>
<div class="container mt-5">
 <h1 class="text-white">About Us</h1>
 <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis qui voluptas porro,
  exercitationem iure sit perferendis, similique veritatis consectetur sed aliquid quis. Velit, dolorum! Magni eveniet
  voluptate accusantium officia totam hic necessitatibus quia iusto recusandae alias maxime quidem qui, autem
  voluptatum ullam adipisci amet dolores rerum. Nisi corporis nesciunt tenetur adipisci alias. Ullam, quidem neque
  nostrum veniam inventore reiciendis magni exercitationem soluta reprehenderit porro? Praesentium, est earum aut rerum
  illo ea. Ut sequi eum sapiente quas quaerat. Tempore, aliquid! Aperiam?</p>
 <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque temporibus molestias quidem,
  tempore vitae culpa possimus accusamus reprehenderit. Ipsum ullam porro pariatur esse est cum aliquam accusamus
  soluta vitae alias.</p>
</div>
<%- include('./partials/footer.ejs') %>